<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
    <p [ngClass]="[ 'one' , 'two']">Using NgClass String example</p>
    <div *ngFor="let user of users" [ngClass]="'three four'">{{user}}</div>

    <p [ngClass]="{'one':true, 'three':false}">Ng Class Using Object</p>

    <div [ngClass]="getCssClass('mode')">
        Example using ng class with component method
    </div>

    <router-outlet></router-outlet>